[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
black = "*"

[packages]
selenium = "*"
mss = "*"
click = "*"
python_dotenv = "*"
gym = "*"
keras = "*"
keras-rl = "*"
slitherEnv = {git = "https://github.com/AlmightyYakob/SlitherEnv.git", editable = true, ref = "master"}
pillow = "*"
opencv-python = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
