[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
black = "*"

[packages]
selenium = "*"
mss = "*"
python_dotenv = "*"
gym = "*"
keras-rl = "*"
gym-io = {path = "./gym-io",editable = true}
pillow = "*"
opencv-python = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
